<header>
  <nav class="navbar navbar-expand">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " href="../Index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="../pages/event.html">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="../pages/tournament.html">Tournaments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Shop</a>
          </li>
        </ul>
        <div class="col logo">
         <a href="../Index.html"> <img src="../assets/images/LOGO.png"></a>
        </div>
        <div class="col buton">
          <img src="../assets/images/cart.png" class="cart">
          <button type="button" class="btn btn-news">Login</button>
          <button type="button" class="btn btn-news">Register</button>
          <i class="fa-solid fa-user-plus newsss"></i>
        </div>
      </div>
    </div>
  </nav>
</header>