@media only screen and (max-width:1399px) {
    li.nav-item a {
        font-size: 14px;
    }

    button.btn.btn-news {
        padding: 10px;
    }

    h1 {
        font-size: 55px;
    }

    h5 {
        font-size: 24px;
    }

    .card-body p {
        line-height: 25px;
    }

    h2 {
        font-size: 50px;
    }
    .custom-dropdown select {
        width: 180px;
        height: 50px;
    }
    .custom-dropdown .dropdown-arrow {
        right: 25%;
        top: 13%;
    }
}
@media only screen and (max-width:1199px) {
    .menu {
        display: block;
    }
    ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
        display: none;
    }
    .col.logo {
        margin-left: 30%;
    }
    #nav-icon3 {
        width: 40px;
        height: 30px;
        position: absolute;
        top: 10px;
        left:20px;
        z-index: 10;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition: transform 0.5s ease;
    }

    #nav-icon3 span {
        display: block;
        width: 100%;
        height: 4px;
        background:#A1C1AC;
        border-radius: 2px;
        transition: transform 0.25s ease;
    }
    #nav-icon3.open span:nth-child(1) {
        transform: rotate(42deg) translate(10px, 10px);
    }

    #nav-icon3.open span:nth-child(2) {
        opacity: 0;
    }

    #nav-icon3.open span:nth-child(3) {
        transform: rotate(-46deg) translate(5px, -5px);
    }

    .mobile-navbar {
        position: fixed;
        top: 0;
        right: -100%;
        width: 40%;
        height: 100%;
        background-color: #111;
        color: white;
        z-index: 5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: right 0.4s ease;
    }

    .mobile-navbar.open {
        left: 0;
    }

    .mobile-navbar .menu {
        text-align: left;
        width: 80%;
    }

    .mobile-navbar .menu a {
        display: block;
        padding: 10px 0;
        text-decoration: none;
        color: #A1C1AC;
        font-family: 'Archivo';
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        transition: color 0.3s ease;

    }

    .mobile-navbar .menu a:hover {
        color: #fff;
    }
}
@media only screen and (max-width:991px){
    h5 {
        font-size: 20px;
    }.card-body p {
        line-height: 22px;
    }.footer .nav-item:not(:last-child)::after {
        margin: 26px;
    }.row.top img {
        margin: 0px 0 50px;
    }h2 {
        font-size: 43px;
    }
    .event-left {
        display: none;
    }
    .event-section {
        display: flex;
        flex-direction: column;
    }   img.twooimg {
        margin-top: 120px !important;
    }h4 {
        font-size: 27px;
    }
}
@media only screen and (max-width:767px){
    button.btn.btn-news {
        display: none;
    }
    i.fa-solid.fa-user-plus.newsss {
        display: block;
        color: #A1C1AC;
        font-size: 20px;
        margin-top: 4px;
    }.footer .nav-item:not(:last-child)::after {
        margin: 13px;
    }
    .footer .copyright, .footer .links {
        font-size: 15px;
    }
    h1 {
        line-height: 65px;
    }.row.top img {
        margin: 0px !important;
    }h2 {
        font-size: 37px;
    }.custom-dropdown select {
        height: 40px;
    }.container-fluid.spacing .col:nth-child(2) {
        margin-top: 13px;
    }img.twooimg.to {
        margin-top: 60px !important;
        margin-bottom: 40px !important;
    }h2 {
        font-size: 31px;
    }.container-fluid.spacing {
        padding: 60px ;
    }button.btngroup {
        font-size: 15px;
        padding: 10px;
    }
    .col.buton img {
        width: 25px;
    }
}
@media only screen and (max-width:575px){
    h1 {
        font-size: 50px;
    }h1.section-one.mob {
        font-size: 40px;
    }img.twooimg.to {
        margin: 0px !important;
    }
.large-paragraph {
    line-height: 25px;
    word-break: break-all;
}
.card-body p {
    word-break: break-all;
}h2 {
    font-size: 25px;
}.custom-dropdown select {
    height: 36px;
}.custom-dropdown .dropdown-arrow {
    right: 25%;
    top: 7%;
}.event-center {
    margin-right: 0px;
}img.twooimg.to.mobi {
    margin-top: 60px !important;
    margin-bottom: 40px !important;
}.container-fluid.twooo {
    padding: 60px;
}   .footer .nav-item:not(:last-child)::after {
    display: none;
}.meenu {
    flex-direction: column;
    align-items: baseline;
}
}