h1 {
  font-family: 'Lora';
  font-size: 70px;
  font-weight: 500;
  line-height: 80px;
}

h2 {
  font-family: 'Lora';
  font-size: 54px;
  font-weight: 500;
  line-height: 69.12px;
}

h3 {
  font-family: 'Lora';
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
}

h4 {
  font-family: 'Lora';
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
}

h5 {
  font-family: 'Lora';
  font-size: 26px;
  font-weight: 600;
  line-height: 33.28px;
}

h6 {
  font-family: 'Lora';
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1px;
}

p {
  font-family: 'Archivo';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.small-text {
  font-family: 'Archivo';
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.emphasized-text {
  font-family: 'Archivo';
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.large-paragraph {
  font-family: 'Archivo';
  font-size: 16px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.1px;
}

button.btngroup {
  font-family: 'Archivo';
  font-size: 18px;
  font-weight: 600;
  line-height: 19.58px;
  color: #FFFFFF;
  padding: 15px 22px 15px 22px;
  border-radius: 5px;
  background: #223733;
}

/* navbar */
nav.navbar.navbar-expand {
  background-color: #2E423D !important;
}

.col.logo {
  display: flex;
  justify-content: center;
}

.col.buton {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

a.nav-link {
  color: #A1C1AC;
  font-family: 'Archivo';
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.nav-link:focus,
.nav-link:active {
  color: #EBE3DC !important;
  font-weight: 700;

}

.nav-link:hover {
  color: #A1C1AC;
}

button.btn.btn-news {
  border-radius: 5px;
  border: 1px solid #A1C1AC;
  color: #A1C1AC;
  font-family: 'Archivo';
  font-size: 16px;
  font-weight: 600;
  line-height: 17.41px;
  padding: 14px;
  text-transform: uppercase;
}

button.btn.btn-news:hover {
  background-color: #A1C1AC;
  color: black !important;
}

/* section one */
.bg {
  background-image: url(../images/banner-one.png);
  background-size: cover;
  background-position: bottom;
}

h1.section-one {
  text-transform: uppercase;
  color: white;
  padding: 250px 0 250px;
  text-align: center;
  margin-bottom: 0px;
}

/* section two */

.container-fluid.two {
  padding: 120px 60px;
  background: #EBE3DC;
}

.card {
  margin-bottom: 35px;
}

.card-body h5 {
  text-transform: uppercase;
}

button.btn.btn-custom {
  font-family: 'Archivo';
  font-size: 18px;
  font-weight: 600;
  line-height: 19.58px;
  text-transform: uppercase;
  color: #2E423D;
  padding: 0px;
}

/* pagination */
.container.my {
  margin-top: 50px !important;
}

.active>.page-link,
.page-link.active {
  z-index: 3;
  color: white;
  background-color: #223733;
  border-color: #223733;
}
.page-link {
  color: black;
}

/* .page-link:hover {
  color: white;
  background-color: blue;
} */

/* Footer */
.footer {
  background-color: #1e4035;
  color: #c3d1c5;
  padding: 20px 0;
}

.footer .logo {
  margin: 60px 0 60px;
}

li.nav-item a {
  font-family: 'Manrope';
  font-size: 16px;
  font-weight: 500;
  line-height: 21.86px;
  text-align: left;
  text-decoration: none;
  color: #A1C1AC;
}

.footer .nav-item a {
  color: #A1C1AC;
  text-decoration: none;
}

.footer .nav-item:not(:last-child)::after {
  content: "|";
  margin: 44px;
  color: #c3d1c5;
}

.footer .copyright,
.footer .links {
  font-family: 'Manrope';
  font-size: 16px;
  font-weight: 500;
  line-height: 21.86px;
}

.footer .links a {
  color: #c3d1c5;
  margin-left: 15px;
  text-decoration: none;
}

.footer .links a:hover {
  text-decoration: underline;
}

.footer .divider {
  border-top: 1px solid #223733;
  margin: 30px 0;
}

nav.d-flex.justify-content-center {
  margin-bottom: 70px;
}


/* newsdetail */

.bread {
  margin: 60px 0 60px;
  padding: 0 60px;
}

img.twooimg {
  width: 100%;
}

.container-fluid.twooo .row.top {
  flex-direction: column;
}

.container-fluid.twooo h5 {
  margin: 40px 0 13px 0;
  text-transform: uppercase;
}

p.large-paragraph:nth-child(3) {
  margin: 30px 0 30px 0;
}

.container-fluid.twooo {
  padding: 0px 60px 120px;
}

h2.news-page-detail {
  margin: 120px 0 52px 0;
  text-transform: uppercase;
  text-align: center;
}
li.breadcrumb-item a {
  text-decoration: none;
  color: #666666;
}

/* eventspage */
.container-fluid.spacing {
  padding: 120px 60px 120px;
}

.container-fluid.spacing h2 {
  padding-bottom: 45px;
  text-transform: uppercase;
}

.container-fluid.spacing .col:nth-child(2) {
  display: flex;
  justify-content: end;
}

select#events {
  width: 189px;
  height: 70px;
  border-radius: 5px;
  border: 1px solid #223732;
  font-family: 'Lora';
  font-size: 20px;
  font-weight: 600;
  line-height: 25.6px;
  text-align: center;
}



/* eventsdetail */
.row.top img {
  margin: 120px 0 50px;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
  width: 200px;
}

.custom-dropdown select {
  appearance: none;
  -moz-appearance: none;
  /* padding: 10px 20px; */
  width: 189px;
  height: 70px;
  border-radius: 5px;
  border: 1px solid #223733;
  padding-left: 30px;
}

.custom-dropdown select:focus {
  outline: none;
}

.custom-dropdown .dropdown-arrow {
  position: absolute;
  right: 20%;
  top: 20%;
  pointer-events: none;
  color: #333;
}

.event-section {
  display: grid;
  grid-template-columns: 3% 57% 36%;
  align-items: center;
  gap: 20px;
  padding: 50px 0;
  border-bottom: 1px solid #ccc;
  margin: 64px 0;
}

.event-section:last-child {
  border-bottom: none;
}

/* Left Section: Day and Date */
.event-left {
  text-align: center;
  color: #000;
}

.event-left .day {
  font-family: 'Lora';
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 1px;
}

.event-left .date {
  font-family: 'Lora';
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
}

.event-center {
  display: flex;
  flex-direction: column;
  margin-right: 150px;
}

.event-calendar {
  font-family: 'Archivo';
  font-size: 14px;
  font-weight: 400;
  line-height: 15.23px;
  color: #666666;
}

.event-calendar i {
  margin-right: 8px;
  font-size: 18px;
  color: black;
}

.event-center h4 {
  text-transform: uppercase;
  margin: 15px 0 15px;
}

.event-center h1 {
  font-family: 'DM Sans';
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.10000000149011612px;
  color: #000000;
  margin-bottom: 15px;
}

.event-center p {
  font-family: 'Archivo';
  font-size: 16px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  color: #4A4A4A;
}

.event-right img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.event-section.fir {
  margin-top: 0px;
  padding-top: 0px;
}

.previous-button,
.next-button {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-family: 'Lora';
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1px;
  position: absolute;
  ;
}

.previous-button {
  left: 0;
}

.next-button {
  right: 0;
}

.previous-button:hover,
.next-button:hover {
  color: #A1A1A1;
}

.event-center a {
  color: black;
  text-decoration: none;
}


/* tournament */
.card-body h1 {
  font-family: 'DM Sans';
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.10000000149011612px;
}

.card-body .event-calendar {
  margin-top: 26px;
  margin-bottom: 12px;
}

.card-body h4 {
  margin-bottom: 15px;
  text-transform: uppercase;
}

.card-body p {
  font-family: 'Archivo';
  font-size: 16px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.10000000149011612px;
  color: #4A4A4A;
}
p.large-paragraph .last-child {
  display: list-item;
  list-style-type: disc;
  margin-left: 20px;
}
.menu {
  display: none;
}
button.btn.btn-custom:hover {
  border: none;
  color: #2E423D;
}
i.fa-solid.fa-user-plus.newsss {
  display: none;
}img.twooimg.to {
  margin-top: 0px;
}.col.buton img {
  width: 34px;
}