<footer class="footer">
    <div class="container text-center">
      <div class="logo">
        <img src="../assets/images/footer-LOGO.png">
      </div>
      <nav class="d-flex justify-content-center">
        <ul class="list-unstyled d-flex">
          <li class="nav-item">
            <a href="#">Home</a>
          </li>
          <li class="nav-item">
            <a href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a href="#">Events</a>
          </li>
          <li class="nav-item">
            <a href="#">Tournaments</a>
          </li>
          <li class="nav-item">
            <a href="#">Contact Us</a>
          </li>
          <li class="nav-item">
            <a href="#">Shop</a>
          </li>
        </ul>
      </nav>
      <div class="divider"></div>
      <div class="d-flex justify-content-between">
        <div class="copyright">
          © Copyright. All Rights Reserved
        </div>
        <div class="links">
          <a href="#">Terms & Conditions</a>
          <a href="#">Privacy Policy</a>
        </div>
      </div>
    </div>
  </footer>